body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

button {
  font-size: 1.5em;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #3b82f6;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #2563eb;
}

h1 {
  margin-bottom: 40px;
}

/* =============================== */
/* Popup Timer Box                 */
/* =============================== */
#timerPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1e293b;
  border-radius: 20px;
  padding: 20px 40px;
  z-index: 100;
  width: 350px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.7); 
  box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.7);
}

/* =============================== */
/* Popup Timer Phase               */
/* =============================== */
#timerPopup.popup-work {
  backdrop-filter: blur(12px) saturate(104%);
  -webkit-backdrop-filter: blur(12px) saturate(104%);
  background-color: rgba(40, 83, 170, 0.73);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

#timerPopup.popup-rest {
  backdrop-filter: blur(12px) saturate(104%);
  -webkit-backdrop-filter: blur(12px) saturate(104%);
  background-color: rgba(21, 112, 39, 0.73);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

#timerPopup.popup-done {
  backdrop-filter: blur(12px) saturate(104%);
  -webkit-backdrop-filter: blur(12px) saturate(104%);
  background-color: rgba(22, 143, 154, 0.73);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.hidden {
  display: none;
}

.timer-box {
  text-align: center;
  width: 100%;
}

#phase {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

#timer {
  font-size: 4rem;
  margin-bottom: 30px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.controls button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.controls button:hover {
  background-color: #555;
}
